.filterContainer {
  margin-top: 120px !important;
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.itemCounter {
  color: gray;
}

.productsContainer {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 2% 5%;
  .productDiv {
    width: 25%;
    height: 350px;
    padding: 2%;
    p {
      text-align: left;
    }
  }
}

.productDiv:hover {
  cursor: pointer;
}