.ordersHistoryTitle {
  margin-top: 90px;
  display: flex;
  align-items: center;
  #blank {
    width: 27%;
  }
}

.profileContainer {
  display: flex;
  margin-top: 150px;
  .userInfoSection {
    width: 25%;
  }
  .ordersHistory {
    width: 75%;
  }
}

.userInfoSection {
  h3 {
    margin-bottom: 40px;
  }
  button {
    margin-top: 30px;
  }
}

.userInfo {
  p {
    text-align: left;
    margin-left: 20%;
    margin-bottom: 30px;
  }
}

.singleOrder {
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 0 2% 2% 2%;
}

.orderHeader {
  display: flex;
  .orderSubHeader {
    height: 50px;
    width: 33%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    * {
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .subHeaderTitle {
      font-weight: 600;
    }
  }
}

.purchasedItemDiv {
  display: flex;
  margin: 3% 6% 2% 6%;
  .leftPurchasedItemSubDiv {
    margin-right: 5%;
    width: 15%;
  }
  .rightPurchasedItemSubDiv {
    width: 55%;
    #productName {
      font-size: 1rem;
      text-align: left;
      cursor: pointer;
    }
    #productName:hover {
      font-weight: 600;
    }
    .discountPriceDiv {
      display: flex;
      align-items: center;
    }
    .amountPurchasedDiv {
      display: flex;
      margin-top: 3%;
    }
  }
  .starsItemSubDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
  }
}
