.orange {
  background-color: #ff6000;
  padding: 20px 95px;
  margin-top: 80px;
}

.orangeImg {
  width: 100%;
  margin-bottom: 5%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgDiv {
  margin: 10px;
  max-width: 13rem;
}

.imgDiv:hover {
  cursor: pointer;;
}

.catImg {
  width: 100%;
}