.topHeader {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionContainer {
  display: flex;
  justify-content: center;
}

.section {
  padding: 2rem;
  width: 40%;
}

#leftSection {
  border-right: 1px solid rgb(204, 204, 204);
}

.logoContainer {
  max-width: 50%;
  display: flex;
}

.alert {
  width: 200px;
  margin: auto;
  font-size: 0.7rem;
  padding: 3px;
}

form {
  margin-top: 20px;
  background-color: crimson;
  border-radius: 10px;
  padding: 10px;
}

.form-group {
  margin: 5px;
}

.form-group > input {
  width: 70%;
  background-color: rgb(231, 231, 231);
  border-radius: 8px;
}

.form > button {
  color: blue;
}

.hLine {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

p > span {
  background: #fff;
  padding: 0 10px;
}

.toast {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
