.mainProduct {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.imgSection, .infoSection {
  padding: 2rem;
  width: 40%;
}

.singleImg {
  width: 100%;
}

.productData {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.singleProductName {
  text-align: left;
  font-weight: 600;
}

.priceBlock {
  display: flex;
  height: 50px;
}

.discountPriceDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  .discountProductPrice {
    color: #ff6000;
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
    margin: 0;
  }
}

.originalPriceDiv {
  margin: 0 9%;
  .originalProductPrice {
    color: gray;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: line-through
  }
} 

.discountDiv {
  margin: 0;
  .discount {
    background-color: #bf0019;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    width: fit-content;
    padding: 0 10%;
  }
}

.originalPriceDiv, .discountDiv {
  p{
    margin: 0;
    white-space: nowrap;
    height: 50%;
  }
}

.pvp, .discountTitle {
  color: rgb(195, 193, 193);
  font-size: 0.8rem;
}

.hidden {
  display: none;
}
